/* Variables */

:root {
	--color-white: #ffffff;
	--color-black: #1e1e1e;
	--color-grass: #216947;
	--color-grass-light: #dae1cc;
	--color-cream: #F5F5E1;
	--color-violet: #B996FF;
}

html,
input,
.button,
select,
textarea {
	font: 16px/1.4 Sans-Serif;
}

@font-face {
	font-family: FAIRESprigSans;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(assets/FAIRE-SprigSans-Regular.woff2) format("woff2")
}

@font-face {
	font-family: FAIRESprigSans;
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(assets/FAIRE-SprigSans-RegularItalic.woff2) format("woff2")
}

@font-face {
	font-family: FAIRESprigSans;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(assets/FAIRE-SprigSans-Medium.woff2) format("woff2")
}

@font-face {
	font-family: FAIRESprigSans;
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url(assets/FAIRE-Sprig-MediumItalic.woff2) format("woff2")
}

@font-face {
	font-family: FAIRESprigSans;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(assets/FAIRE-SprigSans-Bold.woff2) format("woff2")
}

@font-face {
	font-family: FAIRESprigSans;
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(assets/FAIRE-Sprig-BoldItalic.woff2) format("woff2")
}

body {
	padding: 20px;
	background-color: var(--color-violet);
}

.intro {
	padding: 2rem;
	border-bottom: 2px solid var(--color-grass);
}
.intro h1 {
	font-size: clamp(2rem, 1rem + 1.7857142857vw, 2.55rem);
	font-weight: 700;
	line-height: 1;
	color: var(--color-grass);
	margin: 0 0 0.6em;
}

.intro p {
	font-size: clamp(1.125rem, 1rem + .2790178571vw, 1.3125rem);
	color: var(--color-grass);
}
.intro p:last-child {
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

.signature-generator {
	max-width: 600px;
	margin: 0 auto;
}

.signature-generator-form {
	background-color: var(--color-cream);
	border-radius: 2rem;
	border-width: 2px;
	border-style: solid;
	border-color: var(--color-grass);
	letter-spacing: -0.03em;

	font-family: FAIRESprigSans, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

form * {
	box-sizing: border-box;
}

form .fields {
	padding: 2rem;
}

form .field-wrapper {
	display: block;
	overflow: hidden;
	margin-bottom: 1em;
}

form .field-wrapper.buttons-wrapper {
	margin-top: 3rem;
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
}

/* form .half-width-fields {
	display: flex;
	gap: 1em;
}
form .half-width-fields > .field-wrapper {
	width: 50%;
} */

form input:not(.custom_radio_input),
form select,
form textarea {
	width: 100%;
	border: none;
	border-bottom: 1px solid var(--color-grass);
	padding: 0.5em 0;
	margin: 0;

	background: none;
	outline: 0;
	font-size: clamp(1rem, 1rem + .1116071429vw, 1.125rem);
	color: var(--color-grass);
}

form input:focus,
form textarea:focus {
	border-color: #231f20;
}

form .label {
	display: block;
	padding: 0.5em 0.5em 0.5em 0;
	font-weight: 600;
	color:  var(--color-grass);
}

form textarea {
	display: block;
	resize: vertical;
}

form .radio {
	padding: 1em 0;
}

form select {
	-webkit-appearance: none;
}

form .toggle-switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 26px;
	vertical-align: middle;
}
form .toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
form .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #bebebe;
	transition: .4s;
	border-radius: 26px;
}
form .slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 3px;
	background-color: #fff;
	transition: .4s;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(33, 105, 71, 0.07);
}
form .toggle-switch input:checked+.slider {
	background-color: #216947;
}
form .toggle-switch input:focus+.slider {
	box-shadow: 0 0 1px #216947;
}
form .toggle-switch input:checked+.slider:before {
	transform: translateX(22px);
}

.button {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	outline: none;
	font-weight: bold;
	border-radius: 999px;
	color: var(--color-white);
	background: var(--color-grass);
	
	display: inline-block;
	padding: 0.75rem 1.5rem;
	
	cursor: pointer;
	transition: background 0.5s, color 0.5s, opacity 0.5s;
}

.button:not(:first-child) {
	background: transparent;
	color: var(--color-grass);
	border: 1px solid var(--color-grass);
}

.button:hover,
.button:focus {
	background: var(--color-grass-light);
	color: var(--color-grass);
}

/* ========================== END OF form styles ========================== */

/* Signature Output styles */
.signature-output {
	padding: 2rem;
	margin-top: 2rem;
	background-color: var(--color-white);
	border-radius: 2rem;
	border-width: 2px;
	border-style: solid;
	border-color: var(--color-grass);
}

.instructions {
	font-size: 12px;
	padding-left: 1em;
}


.workforce__input {
	margin-top: 1rem;
}